button,
.button {
    background-color: var(--action);
    color: var(--lights);
    border-radius: var(--border-radius-full);
    padding: calc(var(--spacing-sm) - 1px) var(--spacing-md);
    font-size: var(--font-size-md);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: calc(var(--border-size) * 2) solid var(--action-border);
    font-weight: bold;
    text-decoration: none;

    &:hover {
        background-color: var(--action-hover);
    }
}

.button-small {
    padding: calc(var(--spacing-xs) - 2px) var(--spacing-sm);
}

.button-rounded {
    --dimensions: calc(var(--spacing-lg) * 1.15);
    border-radius: var(--border-radius-full);
    height: var(--dimensions);
    width: var(--dimensions);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}