button,
.button {
    background-color: var(--action);
    border-radius: var(--border-radius-full);
    padding: calc(var(--spacing-sm) - 1px) var(--spacing-md);
    font-size: var(--font-size-md);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: var(--border-size) solid var(--action-border);
    font-weight: bold;
    text-decoration: none;
    color: var(--button-color);

    &:hover {
        background-color: var(--action-hover);
    }
}

.button-small {
    padding: var(--spacing-sm) var(--spacing-md);
}

.button-rounded {
    --dimensions: calc(var(--spacing-lg) * 1.5);
    border-radius: var(--border-radius-full);
    height: var(--dimensions);
    width: var(--dimensions);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0
}

.button-line {
    background-color: transparent;
    border: none;
    color: var(--action);

    &:hover {
        background-color: var(--action-hover);
        color: var(--lights);
    }
}