button,
.button {
    background-color: var(--action);
    border-radius: var(--border-radius-full);
    padding: calc(var(--spacing-md) - 1px) var(--spacing-lg);
    font-size: var(--font-size-md);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: calc(var(--border-size) * 2) solid var(--action-border);
    font-weight: bold;
    text-decoration: none;
    color: var(--button-color);
    vertical-align: baseline;
    display: inline-flex;

    &:hover {
        background-color: var(--action-hover);
    }
}

.button-small {
    padding: var(--spacing-sm) var(--spacing-md);
}


.button-rounded {
    --dimensions: calc(var(--spacing-lg) * 1.5);
    border-radius: var(--border-radius-full);
    height: var(--dimensions);
    width: var(--dimensions);
    align-items: center;
    justify-content: center;
    padding: 0
}

.button-line {
    background-color: transparent;
    color: var(--anchor-color);

    &:hover {
        background-color: var(--action-hover);
        color: light-dark(var(--lights), var(--shadows));
    }
}