:root {

    /* colors */

    --bg-color: #d9d9d9;
    --bg-color-secondary: #cecdcd;
    --bg-color-tertiary: #b0aeae;
    --text-color: #191919;
    --text-color-secondary: #333333;
    --text-color-tertiary: #555555;
    --border-color: #e0e0e0;
    --shadows: #2a2a2a;
    --lights: #ececec;

    /* spacing */
    --spacing-unit: 1rem;
    --base-gap: 1.5rem;
    --half-gap: .75rem;
    --double-gap: 2rem;

    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --max-main-width: 1200px;

    /* borders */
    --border-radius: .15rem;
    --border-radius-md: .3rem;
    --border-radius-lg: 1rem;
    --border-radius-full: 999rem;
    --border: 1px solid var(--border-color);

    /* effects */
    --backdrop-blur: blur(var(--spacing-unit));
    /* layout */
    --logo-bg: var(--shadows);
    color-scheme: light dark;
}