:root {

    /* colors */
    --bg-color: #ebebeb;
    --bg-color-secondary: #dcdcdc;
    --bg-color-tertiary: #b0aeae;
    --text-color: #191919;
    --text-color-secondary: #333333;
    --text-color-tertiary: #555555;
    --action: #973efe;
    --action-border: #c68cfc;
    --action-hover: #5b21b6;
    --border-color: #e0e0e0;
    --shadows: #2a2a2a;
    --lights: #ececec;

    /* spacing */
    --spacing-unit: 1rem;
    --base-gap: 1.5rem;
    --half-gap: .75rem;
    --double-gap: 2rem;

    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 2.5rem;
    --max-main-width: 1200px;

    /* borders */
    --border-radius: .15rem;
    --border-radius-md: .3rem;
    --border-radius-lg: 1rem;
    --border-radius-full: 999rem;
    --border-size: 1px;
    --border: var(--border-size) solid var(--border-color);
    /* typography */
    --line-height-base: 1.6;
    /* effects */
    --backdrop-blur: blur(var(--spacing-unit));
    /* layout */
    --logo-bg: var(--shadows);
    --button-color: var(--lights);
    --anchor-color: var(--action);
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* colors */
        --bg-color: #191919;
        --bg-color-secondary: #2a2a2a;
        --bg-color-tertiary: #3b3b3b;
        --text-color: #d9d9d9;
        --text-color-secondary: #b0aeae;
        --text-color-tertiary: #888686;
        --border-color: #2a2a2a;
        --shadows: #ececec;
        --lights: #2a2a2a;
        /* borders */
        --border: 1px solid var(--border-color);
        /* layout */
        --logo-bg: transparent;
        --button-color: #ffffff;
        --anchor-color: #a879fa;
    }
}