:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
}


h1,
.heading-1 {
    font-size: clamp(1.75rem, 1.5rem + 1.25vw, 2.5rem);
    line-height: 1.1;
    margin: .25em 0;
}

h2,
.heading-2 {
    font-size: clamp(1.5rem, 1.25rem + 1.25vw, 2rem);
    line-height: 1.2;
    margin: .25em 0;
}

h3,
.heading-3 {
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.5rem);
    line-height: 1.3;
    margin: .25em 0;
}

h4,
.heading-4 {
    font-size: clamp(1.125rem, 1rem + 0.625vw, 1.25rem);
    line-height: 1.3;
    margin: .25em 0;
}

h5,
.heading-5 {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
    line-height: 1.4;
    margin: .25em 0;
}

h6,
.heading-6 {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    line-height: 1.4;
    margin: .25em 0;
}

p,
.paragraph {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    line-height: 1.6;
    margin: .25em 0;
}

button,
.button {
    font-size: clamp(0.875rem, 0.85rem + 0.25vw, 1rem);
    font-weight: 500;
    line-height: 1.2;
}

input,
select {
    font-size: clamp(1.15rem, 0.85rem + 0.125vw, 1.5rem);
    font-weight: 400;
}

a:not(.button) {
    color: var(--anchor-color);
    text-decoration: none;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}