body {
    background: var(--background-color);

    >*:first-child {

        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: var(--base-gap);

        main {
            flex: 1;
        }
    }
}