.list {
    display: flex;
    flex-direction: column;
    gap: var(--base-gap);
}

@container wrapper (width > 600px) {
    .list {
        --col-min-w: 300px;
        display: grid;

        grid-template-columns: repeat(auto-fill, minmax(var(--col-min-w), 1fr));
    }
}

.medium {
    --col-min-w: 400px;
}

.large {
    --col-min-w: 500px;
}
