.listItem {
    background-color: var(--bg-color-secondary);
    padding: var(--spacing-md);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: var(--border);
}

.action {
    margin-top: var(--spacing-md);
    align-self: flex-end;
}