.listItem {
    background-color: var(--bg-color-secondary);
    padding: var(--spacing-md);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: var(--border);

    .listItemAction {
        margin-top: var(--spacing-md);
        align-self: flex-end;
    }

    .listItemHeader {
        display: flex;
        align-items: center;
        gap: var(--half-gap);
    }
}