.list {
    --col-min-w: 250px;
    display: grid;
    gap: 16px;
}

@container wrapper (width > 600px) {
    .list {
        grid-template-columns: repeat(auto-fill, minmax(var(--col-min-w), 1fr));
    }
}

.medium {
    --col-min-w: 400px;
}

.large {
    --col-min-w: 500px;
}