.loadingContainer {
    --color: var(--action-border);
    --size: var(--spacing-md);
    --shadow-size: 9999px;
    --radius: calc(var(--spacing-md) / 2);
    --starting-shadow: var(--shadow-size) calc(var(--size) * 2.25) 0
        calc(var(--radius) * -1) var(--color);
    --intermediate-shadow: var(--shadow-size) calc(var(--size) / 1.675) 0
        calc(var(--size) / 5) var(--color);
    --end-shadow: var(--shadow-size) calc((var(--size) * 2.25) * -1) 0
        calc(var(--radius) * -1) var(--color);
    --loading-animation: loading 1.5s infinite linear;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;

    .loading {
        position: relative;
        left: calc(var(--shadow-size) * -1);
        width: var(--size);
        height: var(--size);
        border-radius: var(--radius);
        background-color: var(--color);
        color: var(--color);
        box-shadow: var(--starting-shadow);
        animation: var(--loading-animation);
        animation-delay: -0.85s;
    }

    .loading::before,
    .loading::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: var(--size);
        height: var(--size);
        border-radius: var(--radius);
        background-color: var(--color);
        color: var(--color);
    }

    .loading::before {
        box-shadow: var(--starting-shadow);
        animation: var(--loading-animation);
        animation-delay: -1.85s;
    }

    .loading::after {
        box-shadow: var(--starting-shadow);
        animation: var(--loading-animation);
        animation-delay: -2.85s;
    }
}

@keyframes loading {
    1% {
        box-shadow: var(--starting-shadow);
    }

    50% {
        box-shadow: var(--intermediate-shadow);
    }

    100% {
        box-shadow: var(--end-shadow);
    }
}
